@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	padding: 10px 30px;
	width: 100vw;
}

.navbar {
	border-radius: 20px;
	font-weight: 400;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-color: #407873;
	z-index: 100;
	position: relative;
}

a {
	text-transform: uppercase;
	color: black;
	text-decoration: none;
	margin: 1px 10px 1px 1px;
}

a:hover {
	color: #62d8bc96;
	animation-name: expand;
	animation-duration: 0.5s;
}
.header {
	background-image: url(../pic/header_pic.png);
	background-size: cover;
	background-position: top;
	display: flex;
	flex-wrap: wrap;
	text-transform: uppercase;
	margin-top: 25px;
/*	background-color: dodgerblue;
*/	text-align: center;
	font-size: 60px;
	position: relative;
	height: 95vh;
	border-radius: 20px;
}

.footer{
	background-color: #407873;
	padding: 50px;
	border-radius: 20px;
	text-align: center;
}

.text {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	letter-spacing: 20px;
}

.title {
	animation-name: fadein;
	animation-duration: 4s;
}

#abtme {
	margin-top: 25px;
}

.cont {
    position: absolute;
    bottom: 40px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
    font-size: 30px;
}

.cont > div {
    background-color: #407873;
    padding: 10px;
    border-radius: 10px;
}

.textarea {
	font-size: 30px;
    display: flex;
    flex-flow: row;
    padding: 50px;
    font-weight: 200;
    background-color: #bbbbbb24;
    border-radius: 20px;
    margin: 10px 0px 25px 0px;
    justify-content: space-around;
}

.abtimg:hover {
	animation-name: fadein;
	animation-duration: 2.5s;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes expand {
	0% {
		letter-spacing: 0px;
	}
	50%{
		letter-spacing: 3px;
	}
	100% {
		letter-spacing: 0px;
	}
}